html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --maxwide: min(55vh, 100vw);
  --radius: 0.5rem;
  --ccolor: hsl(160, 90%, 32%);
  --icolor: hsl(43, 50%, 53%);
  --xcolor: hsl(240, 1%, 30%);
  
  /* --ccolor: hsl(165, 50%, 52%);
  --icolor: hsl(35, 30%, 45%);
  --xcolor: hsl(240, 1%, 18%); */

  /* --xcolor: hsl(200, 4%, 20%); */
  /* --bg: light-dark(#161620, #efedea); */
  --bg: light-dark(#242424, #efedea);
  /* --fg: light-dark(#efedea, #161620); */
  --fg: light-dark(#efedea, #242424);
  --wavecolor1: hsl(157, 90%, 32%);
  --wavecolor2: hsl(313, 60%, 50%);
  --wavecolor3: hsl(43, 50%, 53%);

  --tileFG: #fff;
  --tileBG: #000;
  
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--fg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body {
  margin: 0;
  padding: 0;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Inter", sans-serif;
}

main {
  position: relative;
  margin: 0 auto;
  max-width: var(--maxwide);
  /* border: 1px dashed var(--icolor); */
}

.cb {
  --ccolor: hsl(20, 90%, 50%);
  --icolor: hsl(209, 92%, 55%);
  --xcolor: hsl(240, 1%, 30%);
  --wavecolor1: hsl(20, 90%, 50%);
  --wavecolor2: hsl(209, 92%, 55%);
  --wavecolor3: hsl(43, 80%, 53%);
}

.choices {
  font-size: 1.5rem;
  width: 100%;
  color: var(--bg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

button {
  border-radius: var(--radius);
  border: 1px solid transparent;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  cursor: not-allowed;
}





.solved .tile, .failed .tile {
  cursor: initial;
}

.solved .tile[data-swapStatus='woo'] {
  animation: unset;
}
.solved .bounce {
  animation: wave 0.4s ease-in-out 2s 4 reverse both running;
}

.tile.blank {
  border: none;
  background-color: transparent;
  color: transparent;
  cursor: initial;
}

@keyframes wave {
  0% {
    transform: translateY(0);
    background-color: var(--ccolor);
    border-color: var(--ccolor);
  }
  5% {
    transform: translateY(0);
    background-color: var(--wavecolor1);
    border-color: var(--wavecolor1);
  }
  50% {
    transform: translateY(-0.5rem);
    background-color: var(--wavecolor2);
    border-color: var(--wavecolor2);
  }
  100% {
    transform: translateY(0);
    background-color: var(--wavecolor3);
    border-color: var(--wavecolor3);
  }
}